caption {
    font-weight: bold; /* Negrito */
    font-size: 1.2em; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
    padding: 10px; /* Espaçamento interno */
    background-color: #f9f9f9; /* Cor de fundo */
    border: 1px solid #ddd; /* Borda */
    border-radius: 5px; /* Borda arredondada */
    text-align: center; /* Alinhamento central */
    caption-side: top; /* Posição do caption (topo) */
}
table{
    border: 2px solid black;
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
    /* border-spacing: 0px;
    */
    border-collapse: collapse;
}

th,td{
    border: 1px solid black;
    margin: auto;
}
.cabecalho{
    text-decoration: underline;
    font-weight: bold;
    background-color: rgb(159, 220, 159);
}