table{
    border: 2px solid black;
    width: auto;
    height: auto;
    text-align: center;
    margin: auto;
    /* border-spacing: 0px;
    */
    border-collapse: collapse;
}

th,td{
    border: 1px solid black;
    margin: auto;
}
.cabecalho{
    text-decoration: underline;
    font-weight: bold;
    background-color: rgb(159, 220, 159);
}