body {
    font-family: Arial, sans-serif;
    background-color: #F08080; 
    color: #ffffff; 
    margin: 0;
    padding: 20px;
}


h1 {
    text-align: center;
    color: #ffffff;
}


form {
    background-color: #F8AD9D;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
}


label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}


input {
    width: 90%;
    padding: 8px;
    margin-right: 8px;
    margin-top: 5px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
}


.btn {
    display: block;
    width: 100%;
    background-color: #FFDAB9;
    color: rgb(70, 70, 70);
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    font-weight: 800;
    font-style: italic;
}

.btn:hover {
    background-color: #fde7d3;
}


hr {
    border: 1px solid #D1D5DB;
    margin: 20px 0;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    color: #FFDAB9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

caption {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #FFDAB9;
    color: white;
}


th {
    background-color: #eaeaeb;
    /* color: #ffffff; */
    color: #333333;
    padding: 10px;
    text-align: left;
}


td {
    padding: 10px;
    border-bottom: 1px solid #D1D5DB;
    color: #333333;
}


td:last-child {
    text-align: left;
}

p {
    text-align: center;
    width: 50pc;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;
    padding: 15px;
    color: #333333; /* Cor de texto mais suave e legível */
    background-color: #FFDAB9; /* Fundo suave */
    border-left: 5px solid #ffffff; /* Adiciona uma borda à esquerda para destaque */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidade */
    line-height: 1.6; /* Aumenta o espaçamento entre as linhas */
    transition: background-color 0.3s ease; /* Transição suave no fundo */
}

p:hover {
    background-color: #D1D5DB; /* Altera a cor de fundo quando passar o mouse */
}

select{
    width: 90%;
    padding: 8px;
    margin-right: 8px;
    margin-top: 5px;
    border: 1px solid #D1D5DB;
    border-radius: 4px;

}

