@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');

body{
    font-family: 'Jacquarda Bastarda 9';
}

h1{
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    background-color: rgb(255, 255, 255);
    margin: 0;
}

p{
    text-align: center;
    color: rgb(0, 0, 0);
}
