@import url('https://fonts.googleapis.com/css2?family=Gupter&display=swap');

form{
    border-radius: 10px;
    width: auto;
    margin: auto;
    height: auto;
}

fieldset{
    background-color: rgb(100, 184, 100);
    border: 1px solid grey;
    box-shadow: 5px 5px 5px grey;
    border-radius: 10px;
    width: 45%;
    margin: auto;
    height: auto;

}

button{
    border-radius: 10px;
    margin-top: 5px;
}

.center-align{
    text-align: center;
}


.left-align{
    text-align: left;
}

.right-align{
    text-align: right;
}

h2{
    background-color: aqua;
}

body{
    background-color:grey;
}
label.align {
    width: 140px;
    display: inline-block;
    text-align: right;
    margin-bottom: 5px;

}

label.center-align {
    width: 140px;
    display: inline-block;
    text-align: right;
    margin-bottom: 5px;
    margin-left: 28px;
}

.wider-input {
    width: 190px;
    display: inline-block;
}
