@import url('https://fonts.googleapis.com/css2?family=Gupter&display=swap');
form{
    border-radius: 10px;
    width: auto;
    margin: auto;
    height: auto;
}
.muda-margem{
    margin-bottom: 30px;
}
fieldset{
    background-color: rgb(195, 193, 193);
    border: 1px solid #9ceef9;
    text-align: left;
    text-decoration: wavy;
    width: 25%;
    margin: auto;
    height: auto;
    border-radius: 10px;
    box-shadow:5px 5px 5px gray;
    padding-right: 25px;
}
.alinha{
    text-align: center;
}
label.alinha{
    width: 140px;
    display: inline-block;
    text-align: left;
    margin-bottom: 5px;
}
label.alinha-textao{
    width: 250px;
    display: inline-block;
    text-align: left;
}
label{
    font-weight: bold;
}
legend{
    font-weight: bolder;
}
button{
    border-radius: 10px;
    transition-duration: 0.4s
}
.button:hover {
    background-color: rgba(4, 84, 100, 0.556); 
    color: white;
}
div{
    text-align: center;
}
body{
    margin: 0;
    font-family: 'Gupter';
    background-image: url(https://img.freepik.com/vetores-premium/textura-abstrata-de-fundo-quadrado-branco-e-cinza-desenho-de-fundo-geometrico_266639-1349.jpg);
}
input, textarea, button, select{
    font-family: 'Gupter';
}
h2{
    margin: 0;
    text-align: center;
    margin-bottom: 25px;
    border-bottom: 1px solid #000000;
    background-color: #c6e5e9;
}
input.alinha{
    width: 110px;
}
/*Usando CSS avaançado para identificar um elemento de forma única sem a utuilização de classes ou id, por meio de seletores de atributos.
Como existe apenas um atributo 'name' na tag textarea, não é necessário especificar o nome da tag.
*/
textarea[name]{
    width: 250px;
    resize: none;
}
