.cabecalho{
    background-color: rgb(99, 183, 243);
  }
  td, th{
    border: 1px solid black;
  }
  table {
    border: 3px solid black;
    color: black(222, 29, 29); 
    font-family: 'Gill Sans';     
    width: 500px;
    height: 300px;
  }

 .sublinhar-texto {
   text-decoration: underline;
   font-weight: bold;
   text-align: right;
  }

 td.fundo-cinza {
  background-color: rgb(182, 179, 179);
 }   

 td.texto-vermelho {
  color: red;
  text-align: center;
}   