@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital@0;1&display=swap');

body{
    font-family: 'Sour Gummy';
    background-image: url('https://miro.medium.com/v2/resize:fit:1400/0*p8p6_icdbz1tQT99.jpg');
}

label{
    display: inline-block;
    width: 255px;
    text-align: left;
    margin-top: 5px;
    color: aliceblue;
}

input{
    margin-top: 5px;
    width: auto;
    font-family: 'Agdasima';
}

fieldset{
    box-shadow: 5px 5px 5px 5px rgb(159, 159, 159);
    width: 30pc;
    margin: auto;
    padding-top: 15px;
    padding-left: 30px;
    background-color: gray;
    border-radius: 10px;
}

h1{
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #626F47;
    color: aliceblue;
    
}

input[name="nome-aluno"]{
    width: 150px;
}

button{
    width: 100px;
    font-weight: bold;
    color: #626F47;
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 150px;
}

p {
    border-bottom: 1px solid black;
    background-color: aliceblue;
    text-align: center;
    width: 25pc;
    margin: 100px auto;
    color: black; /* Melhor contraste para o fundo escuro */
    padding: 10px; /* Espaço interno para maior conforto de leitura */
    display: block;
}

    
span{
    font-size: 20px;
    border: 1px solid;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

legend{
    color: aliceblue;
}

pre {
    border-bottom: 1px solid black;
    background-color: aliceblue;
    text-align: center;
    width: 50pc;
    margin: 100px auto;
    color: black; /* Melhor contraste para o fundo escuro */
    padding: 10px; /* Espaço interno para maior conforto de leitura */
    display: block;
}

table{
    width: 25pc;
    height: 150px;
    margin: auto;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px ;
    background-color: white;
}

td, th{
    border: 1px solid black;
}

th{
    background-color: blanchedalmond;
}

caption{
    color: rgb(0255, 0244, 255, 1);
    font-size: larger;
    background-color: rgb(75, 68, 68);
}