@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital@0;1&display=swap');

body{
    font-family: 'Sour Gummy';
    background-image: url('https://assets.aboutamazon.com/dims4/default/7204561/2147483647/strip/true/crop/6570x3698+2+0/resize/1320x743!/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F36%2F86%2Fda47669747fabf0a8a389edb212b%2Fdisposicao-de-livros-de-vista-superior.jpg');
}

label{
    display: inline-block;
    width: 100px;
    text-align: left;   
    margin-top: 5px;
}

fieldset{
    box-shadow: 5px 5px 5px 5px rgb(159, 159, 159);
    width: 25pc;
    margin: auto;
    padding-top: 15px;
    padding-left: 30px;
    background-color: rgb(184, 128, 7);
    border-radius: 10px;
    margin-bottom: 25px;
}

.alinha{
    display: block;
    margin-bottom: 10px;
    text-align: center;
    display: block;
}

h1{
    margin: 0;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #626F47;
    
}

input{
    width: 150px;
    margin-top: 5px;
    width: auto;
    font-family: 'Agdasima';
}

button{
    width: 100px;
    font-weight: bold;
    color: #626F47;
    margin: auto;
    margin-top: 10px;
    width: 150px;    
}

p {
    border-bottom: 1px solid black;
    background-color: rgb(184, 128, 7);
    text-align: center;
    width: 50pc;
    margin: 30px auto;
    color: white; /* Melhor contraste para o fundo escuro */
    padding: 10px; /* Espaço interno para maior conforto de leitura */
    display: block;
} 


table{
    width: 25pc;
    height: 150px;
    margin: auto;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px ;
    background-color: white;
}

td, th{
    border: 1px solid black;
}

th{
    background-color: blanchedalmond;
}

caption{
    color: rgb(0255, 0244, 255, 1);
    font-size: larger;
    background-color: rgb(75, 68, 68);
}
/* colocando um * após o name, ele irá aplicar as propriedades a toda tag em que o atributo name comece com o valor 'nome' */
input[name*="nome"]{
    width: 200px;
}
/* se conter  'nome', será aplicado o css
input[name^="nome"]{
    width: 200px; */
/* } */

/* obriga que name termine com 'nome', 
input[name$="nome"]{
    width: 200px; */
/* } */