.btn-primary {
    background-color: #D20124 !important; /* vermelho escarlate */
    border-color: #D20124 !important;
    color: #fff !important;
}

.btn-primary:hover {
    background-color: #a6001b !important;
    border-color: #a6001b !important;
}

.btn-secondary {
    background-color: #A9ABAE !important; /* cinza institucional */
    border-color: #A9ABAE !important;
    color: #000 !important;
}

.btn-secondary:hover {
    background-color: #8c8e91 !important;
    border-color: #8c8e91 !important;
}

body {
    background-color: #ffffff !important;
    color: #000000 !important;
}

fieldset {
    background-color: #f8f9fa; /* cinza claro */
    padding: 1.5rem;
    border-radius: 0.5rem;
}

legend {
    font-size: 1.5rem;
    font-weight: 600;
    color: #D20124; /* destaque em vermelho CBMSC */
    text-align: center;
}

.form-label {
    font-weight: 500;
}

input, select {
    margin-bottom: 1rem;
}


.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.navbar {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* sombra suave para profundidade */
    transition: background-color 0.2s ease;
    background-color: #D20124 !important;
    color: #fff !important;
    font-weight: bold;
}
.navbar:hover {
    background-color: rgba(210, 1, 36, 0.9) !important; 